.worklist{
    padding: 0px 10px;
}
.worklist > h2{
    margin: 30px 0px;

}
.item{
    display: flex;
    margin: 100px 0px;
}
.workpic{
    width: 60%;
    height: 25rem;
}
.new{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
    opacity: .5;
    transition: 0.5s;
}
iframe::-webkit-scrollbar{
    display: none;
}
iframe:hover{
    scale: 105%;
}
.workinfo{
    position: relative;
    width: 40%;
    text-align: right;
}
#head{
    display: inline-block;
    font-size: 2rem;
    position: relative;
}
#head > a{
    text-decoration: none;
}
.it::after{
    content: "";
    width: 10%;
    height: 3px;
    background: rgb(0, 179, 255);
    position: absolute;
    bottom: -10px;
    right: 0%;
    transition: 0.5s;
}
.it:hover:after{
    width: 100%;
}
.it2::after{
    content: "";
    width: 10%;
    height: 3px;
    background: rgb(0, 179, 255);
    position: absolute;
    bottom: -10px;
    left: 0%;
    transition: 0.5s;
}
.it2:hover:after{
    width: 100%;
}
#Featured{
    color: rgb(0, 179, 255);
}
.project-description {
    position:absolute;
    right: 0;
    width: 30rem;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(17, 130, 222, 0.959);
}
.workinfo2{
    position: relative;
    width: 40%;
    text-align: left;
}
.project-description2 {
    position:absolute;
    left: 0;
    width: 30rem;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(17, 130, 222, 0.959);
    z-index: 1;
}