.hero{
    background-image: url(berlian-khatulistiwa-RdLw6AuTH6Y-unsplash.jpg);
    width: auto;
    height: 700px;
    background-size: cover ;
    background-position: center;
    margin: auto;
}
body{
    margin: 0%;
    background-color: rgb(26, 25, 25);
}
h1{
    color: bisque;
    font-weight: 600;
    text-transform: uppercase;
}
.nav{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul li{
    display: inline;
    margin: 0 20px;
    position: relative;
}
.nav ul li a{
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    color: aliceblue;
}
.nav ul li::after{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(255, 213, 0);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition:0.5s;
}
.nav ul li:hover::after{
    width: 100%;
}
.text{
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    margin: 0;
    background: -webkit-linear-gradient(45deg, #ff9d76, #ffaa2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
}
button{
    border: 1px solid rgb(226, 163, 25);
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    border-radius: 50px;
    background-color: transparent;
    color: aliceblue;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.mainp{
    color: aliceblue;
}
button::before{
    content: "";
    width: 0%;
    height: 100%;
    background: rgb(255, 213, 0);
    position: absolute;
    border-radius: 50px;
    bottom: 0px;
    left: 0px;
    transition:0.5s;
    z-index:-1;
    
}
button:hover::before{
    width: 100%;
}
button:hover{
    color: black;
}
