body{
    margin: 0%;
}
.nav{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul li{
    display: inline;
    margin: 0 20px;
}
.nav ul li a{
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
}
.hero{
    background-image: url(spacejoy-9M66C_w_ToM-unsplash.jpg);
    width: auto;
    height: 760px;
    background-size: cover ;
    background-position: center;
    
}
