
div.scrollmenu {
    border:2px solid red;
    overflow: auto;
    white-space: nowrap;
}
::-webkit-scrollbar{
    display: none;
}
div.scrollmenu a {
    display: inline-block;
    color: white;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    margin: 5px 10px;
    padding: 14px;
    text-decoration: none;
  }
.videogrid{
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 10px;
}
.child{
    margin: 5px;
}
.child:hover{
    scale: 110%;
    transition: 0.5s ease-in-out;
}
.child div{
    max-width: 400px;
}
.child div > iframe{
    border: 1px solid purple;
    border-radius: 14px;
    width: 100%;
    aspect-ratio: 2;
}
.child div > :nth-child(2){
    display: flex;
    align-items: center;
}
.child div > div > i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(63, 63, 65);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.child div > :nth-child(2) div:nth-child(2){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: column;
}
.child div > :nth-child(2) div:nth-child(2) a{
    color: rgb(187, 0, 255);
}
.child div > i{
    font-size: larger;
}
